.backgroundFolders {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.homeBg1 {
  width: var(--width-bg-wave1);
  height: var(--height-bg-wave1);
  position: absolute;
}
.homeBg2 {
  width: var(--width-bg-wave2);
  height: var(--height-bg-wave2);
  position: absolute;
}
.homeBg3 {
  width: var(--width-bg-wave3);
  height: var(--height-bg-wave3);
  position: absolute;
  right: 10.4vw;
  opacity: 0.6;
}
.homeBg4 {
  width: var(--width-bg-wave4);
  height: var(--height-bg-wave4);
  position: absolute;
  bottom: 3vw;
}
.homeBg5 {
  width: var(--width-bg-wave5);
  height: var(--height-bg-wave5);
  position: absolute;
  bottom: -8vw;
}
.homeBg6 {
  width: var(--width-bg-wave6);
  height: var(--height-bg-wave6);
  position: absolute;
  bottom: 0;
  left: 21vw;
}
.homeBg7 {
  width: var(--width-bg-wave7);
  height: var(--height-bg-wave7);
  position: absolute;
  bottom: 0;
  right: 23vw;
  opacity: 0.5;
}
.homeBg8 {
  width: var(--width-bg-wave8);
  height: var(--height-bg-wave8);
  position: absolute;
  right: 0;
}
.homeBg9 {
  width: var(--width-bg-wave9);
  height: var(--height-bg-wave9);
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .homeBg1 {
    width: calc(var(--width-bg-wave1) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave1) * var(--percent-of-change-size));
  }
  .homeBg2 {
    width: calc(var(--width-bg-wave2) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave2) * var(--percent-of-change-size));
  }
  .homeBg3 {
    width: calc(var(--width-bg-wave3) * var(--percent-of-change-size) * 0.8);
    height: calc(var(--height-bg-wave3) * var(--percent-of-change-size) * 0.8);
    right: 5vw;
  }
  .homeBg4 {
    width: calc(var(--width-bg-wave4) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave4) * var(--percent-of-change-size));
  }
  .homeBg5 {
    width: calc(var(--width-bg-wave5) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave5) * var(--percent-of-change-size));
  }
  .homeBg6 {
    width: calc(var(--width-bg-wave6) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave6) * var(--percent-of-change-size));
  }
  .homeBg7 {
    width: calc(var(--width-bg-wave7) * var(--percent-of-change-size) * 0.8);
    height: calc(var(--height-bg-wave7) * var(--percent-of-change-size) * 0.8);
    right: 20vw;
  }
  .homeBg8 {
    width: calc(var(--width-bg-wave8) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave8) * var(--percent-of-change-size));
  }
  .homeBg9 {
    width: calc(var(--width-bg-wave9) * var(--percent-of-change-size));
    height: calc(var(--height-bg-wave9) * var(--percent-of-change-size));
  }
}
