.colorBtn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.colorBtn:nth-child(1) {
  background: red;
}
.colorBtn:nth-child(2) {
  background: green;
}
.colorBtn:nth-child(3) {
  background: blue;
}
.colorBtn:nth-child(4) {
  background: purple;
}

.activeBtn {
  border: 2px solid black;
}
