:root {
  --white: #fff;
  --black: #000;
  --darkGray-shadow: #42445a;
  --transparent-white: #ffffff3f;
  --baseBgGradientColor-1: #6c00a2;
  --baseBgGradientColor-2: #001152;
  --circlesColors00: #1271ffcc;
  --circlesColors01: #1271ff00;
  --circlesColors10: #dd4affcc;
  --circlesColors11: #dd4aff00;
  --circlesColors20: #64dcffcc;
  --circlesColors21: #64dcff00;
  --circlesColors30: #c83232cc;
  --circlesColors31: #c8323200;
  --circlesColors40: #b4b431cc;
  --circlesColors41: #b4b43200;
  --cursorGradientColor0: #8c64ffcc;
  --cursorGradientColor1: #8c64ff00;

  --width-bg-wave1: 20vw;
  --width-bg-wave2: 39vw;
  --width-bg-wave3: 56vw;
  --width-bg-wave4: 36.8vw;
  --width-bg-wave5: 100vw;
  --width-bg-wave6: 41vw;
  --width-bg-wave7: 29.27vw;
  --width-bg-wave8: 19vw;
  --width-bg-wave9: 26vw;

  --height-bg-wave1: 37.9vw;
  --height-bg-wave2: 20.3vw;
  --height-bg-wave3: 55.6vw;
  --height-bg-wave4: 26.3vw;
  --height-bg-wave5: 37vw;
  --height-bg-wave6: 41vw;
  --height-bg-wave7: 45.7vw;
  --height-bg-wave8: 16.15vw;
  --height-bg-wave9: 49.5vw;

  --percent-of-change-size: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  overflow-x: hidden;
}
