@property --color-gradient-bg1 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-gradient-bg2 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --color-circle00 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle01 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle10 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle11 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle20 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle21 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle30 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle31 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle40 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-circle41 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --color-interactive0 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}
@property --color-interactive1 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

.childrenContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.gradientBg {
  position: fixed;
  width: 100%;
  height: 100%;
  --color-gradient-bg1: #6c00a2;
  --color-gradient-bg2: #001152;
  background: linear-gradient(40deg, var(--color-gradient-bg1), var(--color-gradient-bg2));
  transition-property: --color-gradient-bg1, --color-gradient-bg2;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.gradientsContainer {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svg {
  display: none;
}

.g1 {
  --color-circle00: #1271ffcc;
  --color-circle01: #1271ff00;
  background: radial-gradient(circle at center, var(--color-circle00) 0, var(--color-circle01) 50%) no-repeat;
  transition-property: --color-circle00, --color-circle01;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: calc(50% - 80% / 2);
  left: calc(50% - 80% / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.g2 {
  --color-circle10: #dd4affcc;
  --color-circle11: #dd4aff00;
  background: radial-gradient(circle at center, var(--color-circle10) 0, var(--color-circle11) 50%) no-repeat;
  transition-property: --color-circle10, --color-circle11;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: calc(50% - 80% / 2);
  left: calc(50% - 80% / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.g3 {
  --color-circle20: #64dcffcc;
  --color-circle21: #64dcff00;
  background: radial-gradient(circle at center, var(--color-circle20) 0, var(--color-circle21) 50%) no-repeat;
  transition-property: --color-circle20, --color-circle21;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: calc(50% - 80% / 2 + 200px);
  left: calc(50% - 80% / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
}

.g4 {
  --color-circle30: #c83232cc;
  --color-circle31: #c8323200;
  background: radial-gradient(circle at center, var(--color-circle30) 0, var(--color-circle31) 50%) no-repeat;
  transition-property: --color-circle30, --color-circle31;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: calc(50% - 80% / 2);
  left: calc(50% - 80% / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  --color-circle40: #b4b431cc;
  --color-circle41: #b4b43200;
  background: radial-gradient(circle at center, var(--color-circle40) 0, var(--color-circle41) 50%) no-repeat;
  transition-property: --color-circle40, --color-circle41;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: calc(80% * 2);
  height: calc(80% * 2);
  top: calc(50% - 80%);
  left: calc(50% - 80%);
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}

.interactive {
  --color-interactive0: rgba(140, 100, 255, 0.8);
  --color-interactive1: rgba(140, 100, 255, 0);
  background: radial-gradient(circle at center, var(--color-interactive0) 0, var(--color-interactive1) 50%) no-repeat;
  transition-property: --color-interactive0, --color-interactive1;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  position: absolute;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
