.container {
  width: 100%;
  height: 50%;
  max-width: 1294px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.technicsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.technicsContainer div {
  margin: 0 0;
}

.technicsContainer div:first-child {
  margin-right: 30px;
}

.technics {
  overflow: hidden;
  height: 100px;
  text-align: center;
  position: relative;
  background-color: var(--transparent-white);
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: inset 0px 40px 40px -10px var(--transparent-white);
}

.technicName {
  display: block;
  color: var(--white);
  animation: technics-change 5s infinite;
}

@keyframes technics-change {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.title {
  text-align: center;
  font-size: 70px;
  line-height: 90px;
  color: var(--white);
  padding: 0 40px;
}

.text {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  margin-right: 40px;
  color: var(--white);
}

.mainLinks {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.mainLinks a {
  text-decoration: none;
  color: var(--black);
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.li {
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .technics {
    height: 70px;
  }

  .technicsContainer div:first-child {
    margin-right: 20px;
  }

  .title {
    font-size: 48px;
    line-height: 68px;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .technics {
    height: 46px;
    border-radius: 10px;
    padding: 0 14px;
  }

  .technicsContainer div:first-child {
    margin-right: 10px;
  }

  .title {
    font-size: 34px;
    line-height: 44px;
    padding-left: 0;
  }

  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .technics {
    height: 53px;
  }

  .title {
    font-size: 34px;
    line-height: 54px;
  }

  .text {
    font-size: 14px;
  }

  .mainLinks {
    flex-direction: column;
  }

  .mainLinks div,
  .ul {
    margin: 0 0;
    max-width: 300;
  }

  .li {
    margin: 25px 45px 0 0;
  }
}
